$unit : 'px'
a
  color: #000
h1
  text-align: center
  font-size: 50px
  font-family: $f_bold
  margin-top: 30px
.section
  +w($mobile#{$unit})
  padding: 0 5px 50px
  margin: 0 auto

.title
  margin: 30px 0 10px
  span,a
    +font(18px,$f_bold)
  &-sub
    h3
      font-family: $f_bold
.do
  &-list
    display: flex
    flex-direction: column
    height: 300px
    overflow-y: scroll
    padding: 5px
    border-top: 1px solid $border
    border-bottom: 1px solid $border
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &-body
    +w(92%)
    min-height: 64px
    border: 1px solid $border
    border-radius: 7px
    display: flex
    align-items: center
    padding: 5px 5px 5px 0
  &-number
    flex: 0 0 30px
    text-align: center
    span
      +font(14px,$f_bold)
  &-row
    +w(100%)
    display: flex
    align-items: center
    justify-content: space-between
  &-name
    +font(14px,$f_bold)
    text-transform: uppercase
    letter-spacing: 1px
  &-close
    +w(20px)
  &-desc
    label
      span
        display: block
        max-height: 29px
        overflow: hidden
        transition: .35s ease
      input:checked~span
        max-height: 100px
  &-buttons
    display: flex
    flex-direction: column
    align-items: center
    button
      +wh(18px)
    &-done
      margin: 5px 0
.cal
  &-choose
    display: flex
    align-items: center
    margin-bottom: 5px
    select
      margin-left: 10px
      border: none
      background-color: transparent
  &-week
    display: flex
    margin-bottom: 5px
    margin-top: 10px
    div
      background-color: #000
      border: none!important
      span
        color: #fff
  &-control
    display: flex
    flex-wrap: wrap
    &-button
      +w(40px)
      border: 1px solid $border
      border-radius: 5px
      padding: 3px
      margin: 3px 2px 0 2px
      &-active
        background-color: #000
        span
          color: #fff
      span
        +w(100%)
        display: block
        text-align: center
      &-day
        +font(12px,$f_bold)
      &-do
        font-size: 10px
.add
  input,textarea,&-select,button
    margin: 5px 0
    padding: 5px
    border: 1px solid $border
    border-radius: 5px
  &-name,&-desc
    +w(100%)
  &-data,&-category,&-sub,&-clear
    +w(150px)
    flex: 0 0 150px
  &-row
    +w(100%)
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: flex-start
  &-buttons
    button
      background-color: #000
      color: #fff

.do,.cal,.add
  +w(310px)
















.nav
  +w(100%)
  display: flex
  justify-content: space-around
  position: fixed
  bottom: 0
  background-color: #fff
  box-shadow: 0 -3px 8px rgba(0,0,0,0.2)
  padding: 5px 0
  a
    padding: 3px 10px
    border: 1px solid $border
    border-radius: 5px