extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
    main
        h1 To Do List
        .section
            .do#do
                .title
                    a(href='#calendar') Список дел на 08.01.2020:
                .add-row-cont.add-row
                    select.add-category.add-select
                        option(value='sport') Спорт
                        option(value='home') Дом
                        option(value='shop') Магазин
                        option(value='health') Здоровье
                        option(value='work') Работа
                        option(value='other') Прочее
                .do-list
                    input(type='radio' name='desc' style='display:none')#close
                    .do-cont
                        .do-body
                            .do-number
                                span 01.
                            .do-col
                                .do-row
                                    span.do-name Встать
                                    label(for='close').do-close
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                                            path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                                .do-desc
                                    label
                                        input(type='radio' name='desc' style='display:none')
                                        span Завтра надо встать пораньше, чтобы успеть сделать зарядку и сходить в банк до работы.
                        .do-buttons
                            button.do-buttons-red
                                include ../img/redact.svg
                            button.do-buttons-done
                                include ../img/done.svg
                            button.do-buttons-del
                                include ../img/delete.svg
                    .do-cont
                        .do-body
                            .do-number
                                span 02.
                            .do-col
                                .do-row
                                    span.do-name Почистить зубы
                                    label(for='close').do-close
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                                            path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                                .do-desc
                                    label
                                        input(type='radio' name='desc' style='display:none')
                                        span Чистить зубы надо хорошо, чтобы не было кариеса, потому что лечить зубы гораздо дороже, чем ухаживать.
                        .do-buttons
                            button.do-buttons-red
                                include ../img/redact.svg
                            button.do-buttons-done
                                include ../img/done.svg
                            button.do-buttons-del
                                include ../img/delete.svg
                    .do-cont
                        .do-body
                            .do-number
                                span 03.
                            .do-col
                                .do-row
                                    span.do-name Отжаться
                                    label(for='close').do-close
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                                            path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                                .do-desc
                                    label
                                        input(type='radio' name='desc' style='display:none')
                                        span Отжаться 20 раз каждый час. Поможет держать себя в тонусе.
                        .do-buttons
                            button.do-buttons-red
                                include ../img/redact.svg
                            button.do-buttons-done
                                include ../img/done.svg
                            button.do-buttons-del
                                include ../img/delete.svg
                    .do-cont
                        .do-body
                            .do-number
                                span 04.
                            .do-col
                                .do-row
                                    span.do-name Встать
                                    label(for='close').do-close
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                                            path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                                .do-desc
                                    label
                                        input(type='radio' name='desc' style='display:none')
                                        span Чистить зубы надо хорошо, чтобы не было кариеса, потому что лечить зубы гораздо дороже, чем ухаживать.
                        .do-buttons
                            button.do-buttons-red
                                include ../img/redact.svg
                            button.do-buttons-done
                                include ../img/done.svg
                            button.do-buttons-del
                                include ../img/delete.svg
            .cal#calendar
                .title
                    span Календарь:
                .cal-choose
                    .title-sub
                        h3 Выберите год:
                    select.cal-choose-year
                        option(value='2020') 2020
                        option(value='2021') 2021
                        option(value='2022') 2022
                        option(value='2022') 2023
                        option(value='2022') 2024
                .cal-choose
                    .title-sub
                        h3 Выберите месяц:
                    select.cal-choose-month
                        option(value='january') Январь
                        option(value='february') Февраль
                        option(value='march') Март
                        option(value='april') Апрель
                        option(value='may') Май
                        option(value='june') Июнь
                        option(value='july') Июль
                        option(value='august') Август
                        option(value='september') Сентябрь
                        option(value='october') Октябрь
                        option(value='november') Ноябрь
                        option(value='december') Декабрь
                .cal-week
                    .cal-control-button
                        span.cal-control-button-day Пн
                    .cal-control-button
                        span.cal-control-button-day Вт
                    .cal-control-button
                        span.cal-control-button-day Ср
                    .cal-control-button
                        span.cal-control-button-day Чт
                    .cal-control-button
                        span.cal-control-button-day Пт
                    .cal-control-button
                        span.cal-control-button-day Сб
                    .cal-control-button
                        span.cal-control-button-day Вс
                .cal-control
                    button.cal-control-button.cal-control-button-first
                        span.cal-control-button-day 01
                        span.cal-control-button-do 3
                    button.cal-control-button
                        span.cal-control-button-day 02
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 03
                        span.cal-control-button-do 3
                    button.cal-control-button
                        span.cal-control-button-day 04
                        span.cal-control-button-do 1
                    button.cal-control-button
                        span.cal-control-button-day 05
                        span.cal-control-button-do 2
                    button.cal-control-button
                        span.cal-control-button-day 06
                        span.cal-control-button-do 6
                    button.cal-control-button
                        span.cal-control-button-day 07
                        span.cal-control-button-do 0
                    button.cal-control-button.cal-control-button-activ
                        span.cal-control-button-day 08
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 09
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 10
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 11
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 12
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 13
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 14
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 15
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 16
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 17
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 18
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 19
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 20
                        span.cal-control-button-do 3
                    button.cal-control-button
                        span.cal-control-button-day 21
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 22
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 23
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 24
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 25
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 26
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 27
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 28
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 29
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 30
                        span.cal-control-button-do 0
                    button.cal-control-button
                        span.cal-control-button-day 31
                        span.cal-control-button-do 0
            form.add#add
                .title
                    span Новое дело:
                .add-cont
                    .add-row
                        .add-row-cont
                            input(type='text' placeholder='Название').add-name
                            textarea(placeholder='Описание').add-desc
                        .add-row-cont.add-row
                            input(type='date').add-data
                            select.add-category.add-select
                                option(value='sport') Спорт
                                option(value='home') Дом
                                option(value='shop') Магазин
                                option(value='health') Здоровье
                                option(value='work') Работа
                                option(value='other') Прочее
                    .add-row.add-buttons
                        button.add-sub Подтвердить
                        button(type='button').add-clear Очистить
        .nav
            a(href='#do') Do List
            a(href='#calendar') Calendar
            a(href='#add') Add

